%container {
  max-width: 900px;
  width: 100%;
  padding: 40px;
}

.title-1 {
  font-size: 42px;
  color: #f60303;
  line-height: 1;
  margin-top: 40px;
  margin-bottom: 24px;
}

.subtitle {
  background: #006100;
  color: #ffffff;
  @extend %container;
}

.header-menu {
  background: #ff7700;
  color: #fff;
  margin: 20px 0;
  @extend %container;
  padding: 20px 40px;

  & > * + * {
    margin-left: 30px;
  }
}

.main {
  background: #098000;
  @extend %container;
}

.footer {
  @extend %container;
  background:#ff7700;
  color: #fff;
}
.title-3 {color:#fff;}